<section>
    <div class="max-w-6xl mx-auto mb-64 px-4 sm:px-6">
        <div class="">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
                <h1 class="h2 mt-64">We can work quickly to extract data from spreadsheets, cloud data sources, text files, log files… anything.</h1>
                <h1 class="h2 mt-16">Your business is unique, but your tools are familiar.</h1>
                <h1 class="h2 mt-64">We can provide spreadsheets for further analysis, pdf reports, dashboards, powerpoints, etc.</h1>
                <h1 class="h2 mt-16">Get the analytics you want, how you want.</h1>
            </div>

        </div>
    </div>
</section>
