<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="">

            <!-- Section header -->

            <h1 class="h2 mb-10 text-center">It's really easy</h1>
            <ul class="max-w-3xl mx-auto text-left list-decimal">
                <li class="h2 mb-5 text-left">Explain your business context and goals</li>
                <li class="h2 mb-5 text-left">Add us to your database</li>
            </ul>
            <h1 class="h2 pl-64 mt-10 mb-10 text-center">..We'll do the rest</h1>

        </div>
    </div>
</section>
