<section class="relative">

    <!-- Section background (needs .relative class on parent and next sibling elements) -->
    <div class="absolute inset-0 bg-gray-100 pointer-events-none mt-16" aria-hidden="true"></div>
    <div class="absolute left-0 right-0 m-auto w-px p-px h-20 bg-gray-200 transform -translate-y-1/2"></div>

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6 mt-64">
        <div class="pt-12 md:pt-20">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-left pb-12 md:pb-16">
                <h1 class="h2 mb-10">How it works</h1>
                <ol class="list-decimal">
                    <li class="text-3xl text-gray-900 my-5">Describe your business goals and priorities</li>
                    <li class="text-3xl text-gray-900 my-5">Let us access your data</li>
                    <li class="text-3xl text-gray-900 my-5">Get the answers you need to make great decisions quickly</li>
                </ol>
            </div>

            <!-- Top image -->
            <!-- <div class="pb-12 md:pb-16"> -->
            <!--     <img src="../images/features-top-image.png" width="1104" height="325" alt="Features top" /> -->
            <!-- </div> -->

        </div>
    </div>
</section>
