<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="">

            <!-- Section header -->

            <h1 class="h2 mb-10 text-center">Previous projects and clients:</h1>
            <ul class="max-w-3xl mx-auto text-left pb-12 md:pb-16 list-decimal">
                <li class="h2 mb-5 text-left">HSBC - building financial statements</li>
                <li class="h2 mb-5 text-left">Uber - custom dashboards and metrics</li>
                <li class="h2 mb-5 text-left">Shell - text extraction and natural language processing</li>
                <li class="h2 mb-5 text-left">PwC - data pipelining, SQL database mining</li>

            </ul>

        </div>
    </div>
</section>
