<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="">

            <!-- Section header -->
            <div class="text-2xl text-center md:text-3xl italic font-extrabold leading-tighter tracking-tighter bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400"data-aos="zoom-y-out">[Why]</div>
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
                <h1 class="h2 mt-5">If you can’t see what your data shows, you can’t get the full benefit of your hard work.</h1>
                <h1 class="h2 mt-64">Missing data analytics is costing you money. We can unlock the value in your data.</h1>
                <!-- <h1 class="h2 mt-64">When you run a small business, your time is valuable. You don’t have time to learn another complicated tool.</h1> -->
                <h1 class="h2 mt-64">Let us analyse your data for you, quickly and correctly.</h1>
            </div>

        </div>
    </div>
</section>
