<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Business Insights Now - get value from your data</title>
</head>

<body class="font-inter antialiased bg-white text-gray-900 tracking-tight">

    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">

        <!-- Site header -->
        <!-- require('html-loader!./partials/header.html') -->

        <!-- Page content -->
        <main class="flex-grow">
            
            <!-- Page sections -->
            <%= require('html-loader!./partials/headline.html') %>
            <%= require('html-loader!./partials/why-1.html') %>
            <%= require('html-loader!./partials/how-it-works.html') %>
            <%= require('html-loader!./partials/features-text-4.html') %>
            <%= require('html-loader!./partials/features-text-5.html') %>
            <%= require('html-loader!./partials/previous-clients.html') %>
            <%= require('html-loader!./partials/social-proof.html') %>
            <%= require('html-loader!./partials/final-summary.html') %>
            <%= require('html-loader!./partials/cta.html') %>
            
        </main>

        <!-- Site footer -->
        <%= require('html-loader!./partials/footer.html') %>

    </div>

</body>

</html>
